header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  nav {
    float: right;
  }
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
    }
    nav ul li a {
        display: block; 
        padding: 20px;
        color: #fff;
        text-decoration: none;
      }
      nav ul li:hover {
        background: #eca023;
     }

     .imgD{
        float:right;
     }

     .imgDe{
      float:right;
   }

   .div{
    width: 190px;

 
     width: 300px;
     height: 150px;
     margin: 25px;
  float:left;
    position: absolute;
    top: 760px;
    right: 420px;
}